body {
  padding: 24px;
  margin: 0px;
}

.container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  min-width: 350px;
  margin-bottom:24px;
}

.title-row {

}

.title-heading {
  margin: 8px 0px;
}

.button-row {
  justify-content: center;
  display: flex;
}

.toast-button {
  background-color: #fff;
  padding: 8px 12px;
  margin: 4px;
  border-radius: 4px;
  border: 2px solid #1b1c1d;
  color: #1b1c1d;
  cursor: pointer;
  font-weight: 700;
}

.toast-button:hover {
  background-color:#1b1c1d;
  color: #fff;
}